.app-download {
    width: 70vw;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 90px;

    box-shadow: 1px dimgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(254, 254, 255);
    border-radius: 30px;
    cursor: pointer;
}

.app-download h1 {
    margin-top: 50px;
    font-size: 39px;
    font-style: italic;
}

.app-download-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;


}


.app-download-icons img {

    width: 140px;


}

.app-download-icons :hover {
    transition: calc(2s);
    width: 200px;


}


.app-download-icons .app {
    width: 200px;


}


.app-download-icons .app:hover {
    width: 250px;
    transition: calc(1s);
}