.header {
    width: 90vw;
    height: 50vh;
    margin: 50px auto;
    background: url(../../../public/food-img/11.webp) no-repeat;
    background-size: contain;
    position: relative;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 5px 10px 15px black;
     margin-left: -50px;
}

.header-contents {
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 22px;
    cursor: pointer;
    animation: fadeIn 5s;
}

.header-contents:hover {
    color: red;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.header-contents p {
    margin-top: 20px;
    font-weight: bold;
    color: rgb(0, 106, 255);
    letter-spacing: 4px;
    word-spacing: 10px;
}

.header-contents button {
    width: 120px;
    margin-top: 40px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 50px;
    font-size: 15px;
    border: 3px solid rgb(0, 106, 255);

}

.header-contents button:hover {
    color: red;
    background-color: white;
    font-size: 17px;
    font-weight: bold;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}


@media  screen and (max-width:1050px) {
    
    .header-contents{
        max-width: 45%;
    }
    
}
@media  screen and (max-width:750px) {
    .header{
        height: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding:  2vw 4vw;


    }
}
